%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/section-9.jpg"}
  / HERO TEXT
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 What we offer
        %h5.mh-line-size-4.font-alt All Element Solutions
%section.module
  .container
    .row
      / CONTENT
      .col-sm-12
        %article.post.post-single
          .post-entry
            %h1.text-uppercase
              <strong>Why choose us?</strong>
            %p
              We have over 30 years’ experience with small to large projects in the construction industry.
            %p
              There are several one man operations that are doing the same thing we can. The difference is All Element Solutions is a woman owned business and TERO certified company that is the perfect size to be agile for prepping jobsites for building pads while creating the roadways and foundations for the project to get off the ground. We are also bonded and insured. ( a rarity in this field )
            %p
              We provide skilled earthwork services economically and efficiently.



%section
  .container
    .row
      .col-sm-12
    .row.multi-columns-row
      .col-sm-6.col-md-6.col-lg-6
        .price-table.font-alt
          %h4 Our Services
          .borderline
          %ul.price-details
            %li
              Earth material handling
            %li
              excavation
            %li
              hauling
            %li
              Water management
            %li
              ponds
            %li
              drainage systems
            %li
              Fire demolition
            %li
              restoration
            %li
              Wind Control
            %li
              Damage clean up
      .col-sm-6.col-md-6.col-lg-6
        %img{:alt => "", :src => "assets/images/about1.jpg"}/
        %p what job is this


%section.module-small.bg-green
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h1.module-title.font-alt{:style => "margin-bottom: 0px;"} Call <a href="tel:(918) 630-3792">(918) 630-3792</a> for a free estimate

%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Some of our work
    .row
      / CONTENT
      .col-sm-12.col-md-6
        %article.post.post-single
          .post-media
            %img{:alt => "", :src => "assets/images/about2.jpg"}/
            %p what job is this
      .col-sm-12.col-md-6
        %article.post.post-single
          .post-media
            %img{:alt => "", :src => "assets/images/about3.jpg"}
            %p what job is this
