%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/section-9.jpg"}
  / HERO TEXT
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 Careers
        %h5.mh-line-size-4.font-alt Join our team
  / /HERO TEXT
/ /HERO
/ SINGLE POST
%section.module
  .container
    .row
      / CONTENT
      .col-sm-12.col-md-6
        %article.post.post-single
          / MEDIA
          .post-header
            %h1.post-title.font-alt
              Careers
          .post-entry
            %p
              <strong>MSI International</strong>, we are growing and expanding globally. We are always looking for bright and motivated individuals to join our team of professionals. We have continuing opportunities in <strong>USA</strong>, <strong>Saudi Arabia,</strong> and <strong>Angola</strong> in the following areas:
            %ul
              %li
                Reservoir
              %li
                Geology & Seismic
              %li
                Flow Assurance
      .col-sm-12.col-md-6
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Information
        %p
          If you would like to be considered for job openings, please send your resume to careers@msieng-int.com.
        %h2
          Join us and become a part of our strength!
        %p
          We are committed to diversity. MSI International Inc. is an Equal Employment Opportunity Employer.



