%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/consult_1.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 Reservoir Management
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Reservoir Management
          .post-media
            %img{:alt => "", :src => "assets/images/consult_1.jpg"}/
          .post-entry
            %p
              With MSI Group's techniques and its multidisciplinary team, we can provide fully integrated reservoir studies including full field study, reservoir characterization and seismic-constrained dynamic modeling.
            %ul
              %li
                Integrated geological study
              %li
                Modeling and simulation with seismic constraint for all steps
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
          .post-media
            %img{:alt => "", :src => "assets/images/consult_1-1.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
          .post-media
            %img{:alt => "", :src => "assets/images/consult_1-2.jpg"}/
