%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/consult_2-1.jpg"}
  / HERO TEXT
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 Multiphase Flow Systems
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Multiphase Flow Systems
          .post-entry
            %h1
              No Information given
            %p
              No Information given
