%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/consult_2-1.jpg"}
  / HERO TEXT
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 Reservoir Characterization
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Reservoir Characterization
          .post-entry
            %h1
              Multi-Data Constrained Seismic Inversion
            %p
              MSI Group has developed a suite of seismic inversion techniques by adding various constraints. The techniques lead to achieving inversion consistent with other information such as geology, well and even dynamic data. The inversion techniques include:
            %h2.text-center
              Inversion not requiring well data (Gas/Liquid, Liquid/Liquid)
          .post-media
            %img{:alt => "", :src => "assets/images/consult_2-1.jpg"}/

          %h2.text-center
            Log-based statistics-constrained inversion
          .post-media
            %img{:alt => "", :src => "assets/images/consult_2-2.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-entry
            %h2.text-center
              Facies-constrained inversion
        .row
          .col-sm-12.col-md-6
            .post-media
              %img{:alt => "", :src => "assets/images/consult_2-3.jpg"}/
          .col-sm-12.col-md-6
            .post-media
              %img{:alt => "", :src => "assets/images/consult_2-4.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          %h2.text-center
            Simulation model-based inversion
          .post-media
            %img{:alt => "", :src => "assets/images/consult_2-5.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Seismic-Driven Modeling
          .post-entry
            %p
              MSI Group has developed a modeling framework to update geostatistical models to be consistent with seismic. We have also developed a new technique to derive a geological model from seismic data instead of using geostatistical modeling. This leads to a new way of using all data to generate a better reservoir model.
          %h2.text-center
            Seismic-constrained model updating
          .post-media
            %img{:alt => "", :src => "assets/images/consult_2-6.jpg"}/
          %h2.text-center
            Fully seismic-driven modeling
          .post-media
            %img{:alt => "", :src => "assets/images/consult_2-7.jpg"}/
