%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/wgs_1.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          Wet-Gas MPFM
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Wet-Gas MPFM
          .post-media
            %img{:alt => "", :src => "assets/images/wgs_1.jpg"}/
          .post-entry
            %h1.post-title.font-alt
              Wet-Gas MPFM
            %p
              The Wet-Gas MPFM has no radioactive source making it safer and cheaper to operate, requiring less safety permits. It is a skid-mounted plug-and-play system that requires minimal downtime to install, minimizing production loss.
            %h2
              Advantages
            %ul
              %li
                Capable of handling perturbation without affecting measurement performance.
              %li
                Footprint is significantly smaller (10%-30% separator-based MPFM that provides high reliability and accuracy with low uncertainty. By pre-conditioning gas from liquid, the two single-phase streams are measured independently, resulting in higher accuracy than single multiphase stream measurement without flow conditioning.
                ) than conventional vessel separators
              %li
                Low Pressure Drop (typically less than 15 psi)
              %li
                High turndown ratio provides for wider operational
                (GVF WC: 0-100%)
              %li
                No radioactive sources
            %h2
              Applications
            %ul
              %li
                Continuous production monitoring at wet gas well head
              %li
                Portable single well testing
              %li
                Well testing for production allocation
              %li
                Offshore automatic well testing (AWT)
    .row
      .col-sm-12
        %h2
          Wet-Gas MPFM - Field Prototype Technical Specifications

    .row
      .col-sm-12
        %table.table.table-striped
          %thead
            %tr
              %th
                Operation Range
              %th
          %tbody
            %tr
              %td
                Flow Rate
              %td
                Qg: 10-30 mmscf/d<br>
                Ql: 1000-5000 bpd
            %tr
              %td
                Water-cut

              %td
                0-100%
            %tr
              %td
                GVF Range
              %td
                0-100%
            %tr
              %td
                Measurement Uncertainty
              %td
                = "Liquid < 15%, Gas < 10%, Water < 15%"
            %tr
              %td
                Pressure Drop

              %td
                = "≤ 100 kPa (≤ 14.5 psi)"
            %tr
              %td
                Power Consumption

              %td
                0.5 kW
            %tr
              %td
                Safety Devices
              %td
                Pressure Relief Valve
          %thead
            %tr
              %th
                Design Base
              %th
          %tbody
            %tr
              %td
                Operating Pressure
              %td
                1700 psi
            %tr
              %td
                Operating Temperature
              %td
                185 °F
            %tr
              %td
                Design Pressure

              %td
                2027 psi
            %tr
              %td
                Design Temperature
              %td
                212 °F
            %tr
              %td
                Design Life
              %td
                15 years
            %tr
              %td
                Max. Capacity (GLCC)
              %td
                Max. Gas: 36 mmscf/d<br>
                Max. Liquid: 6700 bpq
          %thead
            %tr
              %th
                Weight And Dimensions
              %th
          %tbody
            %tr
              %td
                Empty Weight
              %td
                4200 kg
            %tr
              %td
                Shipping Weight
              %td
                4580 kg
            %tr
              %td
                Hydrotest Weight
              %td
                4730 kg
            %tr
              %td
                Dimensions (approximately)
              %td
                2100x1500x4300 (LxWxH) mm
          %thead
            %tr
              %th
                Major Instruments And Equipment
              %th
          %tbody
            %tr
              %td
                Coriolis Flow Meter (Liquid)
              %td
                3" 900# 316LSS
            %tr
              %td
                Coriolis Flow Meter (Gas)
              %td
                2" 900# 316LSS
            %tr
              %td
                Pressure Difference Transmitter
              %td
                2" 900# 316LSS
            %tr
              %td
                Pressure Transmitter
              %td
                1/2" NPT 316LSS
            %tr
              %td
                Water-cut Analyzer
              %td
                3" 900# 316LSS
            %tr
              %td
                Local Control Unit
              %td
                Siemens S7-200 CPU <br>
                Communication with DCS system via MODBUS<br>
                RS-485 RTU protocol<br>
                All modules wide temperature type<br>
                Water cut calculation by build-in density program <br>
                7" touch screen"
            %tr
              %td
                GLCC ©
              %td
                Manufactured according ASME section VIII standard
    .row
      .col-sm-12
        %p
          * Operating range, handling capacity, sizing, and dimensions are customizable according to requirements.

