%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/equiptment_4.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          LLCC & Other Water Polishers
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Liquid-Liquid Cylindrical Cyclone (LLCC)
          .post-media
            %img{:alt => "", :src => "assets/images/equiptment_4.jpg"}/
          .post-entry
            %h1.post-title.font-alt
              Liquid-Liquid Cylindrical Cyclone (LLCC)
            %h2
              Problem
            %p
              The production of water with oil continues to be a problem for the oil industry. Oil and gas companies are constantly searching for more effective ways to handle produced water and to increase oil production.
            %p
              Innovations over the years have led from the skim pit to installation of the stock tank, to the gun barrel, to the free water knockout device and most recently to compact separators. Most of the studies on compact liquid-liquid separation have been focused on conical liquid–liquid hydrocyclones (LLHC).
            %p
              The main application of the hydrocyclone is to clean produced oily water for disposal, reducing oil concentrations to the order of 20 or less ppm in the effluent.
          .post-entry
            %h2
              Solution
            %p
              The LLCC is a vertically installed pipe mounted with a horizontal inlet pipe. The oil-water mixture is introduced through a tangential slot at the inlet.
            %p
              It has two exits, the upper outlet that is oil rich stream, and the lower outlet, that is clear water stream. It has neither moving parts nor internal devices.
            %p
              Separation occurs due to the centrifugal forces caused by the swirling motion and the gravity forces. The heavier water is forced radially towards the cyclone wall and is collected from the bottom, while the lighter oil moves towards the center of the cyclone and is taken out from the top.
            %p
              Thus, it provides an efficient alternative for oil-water separation in the form of a free water knockout device.
            %h2
              Advantages
            %ul
              %li
                Efficient alternative free water knockout device
              %li
                Simple, no internals & no moving parts
              %li
                Small footprint & low weight
              %li
                Easy to install & operate
              %li
                Minimal maintenance required
              %li
                Increase system efficiency, reliability, and safety
    .row
      .col-sm-12
        %h2
          Performance
        %p
          The performance of LLCC strongly depends upon the split of oil rich and clear water streams. Thus, the control system becomes an essential part in a separation configuration in order to maintain maximum underflow and at the same time obtaining clear water in the underflow.
    .row
      .col-sm-12
        %h2
          Liquid-Liquid Hydrocyclone (LLHC) For De-Oiling & FWKO
        %p
          This water polisher is utilized to remove small oil droplets from the produced water stream. It consists of a cylindrical section, conical section, and tail pipe section.
        %p
          The inlet chamber and the conical section are designed to achieve the higher tangential acceleration of the fluid, reducing pressure drop and turbulence. The LLHC utilizes the centrifugal forces to separate the dispersed-phase from the continuous-fluid.
        %p
          The swirling motion is produced by tangential injection of pressurized fluid into the cyclone body. The flow pattern consists of an outside spiral flow and an inside spiral flow moving in the same circular direction.
