%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/equiptment_3-1.gif"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          Gas-Liquid Cylindrical-Cyclone Compact Separator
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Gas-Liquid Cylindrical-Cyclone Compact Separator
          .post-media
            %img{:alt => "", :src => "assets/images/equipment_3.jpg"}/
          .post-entry
            %h1.post-title.font-alt
              Gas-Liquid Cylindrical-Cyclone Compact Separator
            %p
              The Gas-Liquid Cylindrical Cyclone (GLCC©) compact separator replaces bulky conventional vessel type separators and can be suited for many different oilfield applications.
            %p
              MSI International Inc has the experience and knowledge to custom design any GLCC to fit your needs. The GLCC was patented by Chevron in 1992 and is currently managed by members of a Joint Industry Project. Presently, over 4300 GLCC’s have been successfully installed in the field.
          .post-media
            %img{:alt => "", :src => "assets/images/equiptment_3-1.gif"}/
          .post-entry
            %h2
              Advantages
            %ul
              %li
                Simple, no internals & no moving parts
              %li
                Compact, low weight
              %li
                Easy to Install and Operate
              %li
                Requires Little Maintenance

              %li
                Reduced capital costs (inexpensive separator, installation, relief system)
              %li
                Increased Efficiency, Reliability, and Safety

              %li
                Increased Operational Envelope
              %li
                Performance can be predicted through available mechanistic models which are incorporated into a simulator
              %li
                Reduced Purge Time and Motion Sensitivity
              %li
                Can handle high gas-liquid flow rates Pipe rating

    .row
      .col-sm-12
        %h2
          Performance
        %p
          The GLCC can be designed for various levels of expected performance when used for two-phase gas-liquid bulk separation. Typical performance levels range from 0.5–2.0 gallons of liquid per MMscf in the gas leg and 0–5% gas in the liquid leg.
    .row
      .col-sm-12
        %h2
          How It Works
        %p
          The GLCC utilizes centrifugal and gravitational forces to separate the gas and liquid phases.
        %p
          Each of the components play a key role in the separation process:
        %ul
          %li
            Inclined Inlet pipe: promotes stratification and pre-separation; diameter, inclination angle, and length are key parameters
          %li
            Tangential inlet slot: introduces and accelerates fluids tangentially into the GLCC to promote separation by centrifugal force; geometry and size are the key parameters.
          %li
            Upper section: liquid droplets pushed on the inner wall forms liquid film and drained by gravity; gas collected and exit from the top
          %li
            Lower section: vortex formed below the inlet, gas bubbles move to center and liquids move to the inner wall, separated
          %li
            Liquid & Gas legs: flow meters, control valves installed and provide pressure balance for liquid level regulation
          %li
            Recombined point: balance hydrostatic head for passive level control
    .row
      .col-sm-12
        %h2
          Applications
        %p
          The areas and oilfield applications where GLCC technology is typically employed includes:
        %ul
          %li
            Gas-Liquid production stream separation
          %li
            Multiphase metering loop with single-phase meters
          %li
            Pre-separator for de-bottlenecking of vessel-type conventional separators
          %li
            Slug Mitigation (using advanced control systems)
          %li
            Solve slashing problems in FPSO vessel separators
          %li
            Raw gas lift injection
          %li
            Inlet or wellhead test separator
          %li
            Flash separators before oil or water treaters
          %li
            High pressure GLCC for Wet-Gas Systems
          %li
            After first stage compressor


