%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/iws_2.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          IWS:Inline Compact Water Separator™
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              IWS:Inline Compact Water Separator™
          .post-media
            %img{:alt => "", :src => "assets/images/iws_2.jpg"}/
          .post-entry
            %h1.post-title.font-alt
              IWS:Inline Compact Water Separator™
            %p
              The IWS: Inline Compact Water Separator™, developed by our MSI Group affiliate - Multiphase Systems Integration LLC - incorporates patented technology of the “Compact Multiphase In-Line Bulk Water Separation Method and System for Hydrocarbon Production”. The IWS: Inline Compact Water Separator™ relates to a method and apparatus for inline, controlled water separation from a multiphase hydrocarbon production stream.
            %h2
              The Produced Water Challenge
            %p
              A problem in petroleum production faced by every producer is that of produced water. As fields mature, the percentage of water in total produced fluid increases. U.S. oil production includes approximately 10 barrels of water for each barrel of oil. This ratio is virtually increasing daily in fields all over the world, and can render many fields uneconomical both in terms of lower recovered oil and additional costs of facilities upgrade to expand processing capacity.
            %h2
              Solution

            %p
              The patented IWS consists of a series of compact separation devices with proven technologies that separate water from oil and gas, including Gas-Liquid Cylindrical Cyclone (GLCC)), and Liquid-Liquid Hydrocyclone (LLHC). Installation of the IWS essentially increases field water handling capacity (de-bottlenecking), reduces the necessary size and cost of downstream separation facility, and revives dead low-pressure wells., Liquid-Liquid Pipe Separator (LLPS), Liquid-Liquid Cylindrical Cyclone (LLCC
            %h2
              Performance
            %p
              Field applications show the IWS to be effective in processing liquid mixture with water cut as low as 50%, with an overall water separation efficiency of 70%. The IWS also produces high-quality water that well exceeds the EPA standard and can be disposed off directly into the ocean, with a range of oil-in-water concentration of 10-35 ppm.
            %h2
              Advantages
            %ul
              %li
                Environmentally friendly bulk water separator for production use
              %li
                High water separation efficiency of 70%
              %li
                High-quality treated water well above EPA standard (10-35 ppm)
              %li
                Direct clean water disposal close to source saving cost and energy
              %li
                De-bottlenecking of processing capacity-effectively increases oil production
              %li
                Much less costly and more compact than conventional processing plants
