%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/section-9.jpg"}
  / HERO TEXT
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 Our work
        %h5.mh-line-size-4.font-alt All Element Solutions
%section.module.bottom
  .container-fluid
    .row
      .col-sm-4
        %img{:alt => "", :src => "assets/images/about1.jpg"}/
        %p
      .col-sm-4
        %img{:alt => "", :src => "assets/images/about1.jpg"}/
        %p
      .col-sm-4
        %img{:alt => "", :src => "assets/images/about1.jpg"}/
        %p
    .row
      .col-sm-12
        %a{:href => "/jobs"} Back

