%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/software_3-5.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          Custom Multiphase Flow Systems
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Custom Multiphase Flow Systems
          .post-media
            Provide Image
          .post-entry
            %h1.post-title.font-alt
              Custom Multiphase Flow Systems
            %p
              No content available for this subject
