%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/software_2.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          Uncertainty Based Production Allocation
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Uncertainty Based Production Allocation
          .post-media
            %img{:alt => "", :src => "assets/images/software_2.jpg"}/
          .post-entry
            %h1.post-title.font-alt
              Uncertainty Based Production Allocation
            %p
              Uncertainty Based Production Allocation is a software platform developed by our MSI Group affiliate - MSI LLC - for Letton Hall Group as part of the RPSEA (Research Partnership to Secure Energy for America) projects.
            %p
              It predicts total network uncertainties for systems with subsea multiphase flow meters, accounting for meter operating conditions, in-situ PVT properties, system configurations (such as commingled flow), and pipeline uncertainties.
            %h2
              This software is able to perform the following tasks:
            %ul
              %li
                Determine overall system imbalance based on total or phase flow rates measurements or predictions at subsea and topside.
              %li
                Detect abnormal or normal imbalance based on Multiphase Flow Meter (MPFM) and Single Phase Flow Meter (SPFM) measurements.
              %li
                Assess uncertainty of separator measurement when it is utilized as reference.
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Well Configuration
          .post-media
            %img{:alt => "", :src => "assets/images/software_2-1a.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Separator Configuration
          .post-media
            %img{:alt => "", :src => "assets/images/software_2-1.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Well Uncertainty Settings
          .post-media
            %img{:alt => "", :src => "assets/images/software_2-2.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Auxiliary Program
          .post-media
            %img{:alt => "", :src => "assets/images/software_2-4.jpg"}/
