%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/equiptment_4.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          Wellbore Sand Transport Simulator
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Wellbore Sand Transport Simulator
          .post-media
            %img{:alt => "", :src => "assets/images/software_1.jpg"}/
          .post-entry
            %h1.post-title.font-alt
              Wellbore Sand Transport Simulator
            %p
              Wellbore Sand Transport Simulator is a software platform developed by MSI Group affiliate - Multiphase Systems Integration (MSI) LLC - for Chevron.
            %p
              It predicts sand concentration at the surface well head as a function of time. This software is able to perform the following tasks:
            %ul
              %li
                Calculate the time for a sand to reach the wellhead (breakthrough time)
              %li
                Calculate Vc and local fluid velocities along the well bore based on PVT
              %li
                Calculate sand deposition amount along the wellbore as a function of time
              %li
                Predict the flow pattern and gas/liquid pressure drop
              %li
                Estimate fluid properties in-situ conditions
              %li
                Calculate breakthrough time for single source multi bin size sand deposition
              %li
                Calculate breakthrough time for multi source single bin size sand deposition
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Sand Transport Probability
          .post-media
            %img{:alt => "", :src => "assets/images/software_1-2.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Simulation Setting
          .post-media
            %img{:alt => "", :src => "assets/images/software_1-3.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Fluid Properties
          .post-media
            %img{:alt => "", :src => "assets/images/software_1-4.jpg"}/
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Correlation Setting
          .post-media
            %img{:alt => "", :src => "assets/images/software_1-5.jpg"}/
