%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/software_3-5.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20
          iLoop Reservoir & Seismic Software
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              iLoop Reservoir & Seismic Software
          .post-media
            %img{:alt => "", :src => "assets/images/software_3-1.jpg"}/
          .post-entry
            %h1.post-title.font-alt
              iLoop Reservoir & Seismic Software
            %p
              iLoop is a proprietary software platform developed by SunRise PetroSolutions Technology that provides an innovative platform to “close the loop” among geophysics, geology and reservoir engineering in the data and model domains between seismic & reservoir engineering.
            %p
              Through our strategic partnership with SunRise, MSI International Inc. is proud to offer iLoop as a tool for reservoir engineering in addition to and in conjunction with our consulting and solutions.
            %p
              iLoop is a platform for integrating multidisciplinary information for visualization, analysis and model optimization. Supported by a team of top notch geoscience and reservoir engineering professionals, iLoop has been utilized to complete more than 150 projects, all deemed “with no defects” by clients.

            %p
              iLoop is a hierarchy structure platform. It is able to connect to various commercial simulators such as Eclipse, VIP, CMG and can be easily customized to link with proprietary simulators or other commercial simulators.
            %p
              Worldwide user base of iLoop includes companies like BGP, Chevron, CNOOC, CNPC, ConocoPhillips, Petrobras, SinoPec, WesternGeco, and Woodside.
            %h2
              The iLoop features include:
            %ul
              %li
                A unique platform for the integration of seismic with geology and reservoir engineering
              %ul
                %li
                  Seamless linking of simulation model, rock model, forward modeling and seismic data
                %li
                  Capability to co-visualize multi-disciplinary data
                %li
                  Comparison and analysis of multi-disciplinary data simultaneously
                %li
                  Powerful seismic QC of reservoir data or model, and vice versa
              %li
                iLoop allows interpretation of seismic, especially 4D seismic data, with dynamic data
                %ul
                  %li
                    Seismic attribute interpretation with dynamic data
                  %li
                    Correlation of seismic attributes with dynamic properties or data
                  %li
                    Semi-quantitative correlating of dynamic information with seismic attributes
                  %li
                    Reservoir connectivity analysis with seismic attributes
              %li
                iLoop enables updating of the reservoir model under the constraints of seismic and engineering data
                %ul
                  %li
                    Mismatch analysis for both seismic and dynamic data
                  %li
                    Interactive update of reservoir model
                  %li
                    Quick and easy-to-use reservoir engineering analysis tools
              %li
                Capability of seismic inversion based on simulation grid
                %ul
                  %li
                    Smooth linkage of rock model, comparison of synthetic from reservoir model with observed seismic
                  %li
                    Perturbation of reservoir properties including static and dynamic properties
                  %li
                    Tool for sensitivity study
                  %li
                    Direct update of reservoir model
    .row
      .col-sm-12.col-md-6
        %article.post.post-single
          .post-media
            %img{:alt => "", :src => "assets/images/software_3-5.jpg"}/
      .col-sm-12.col-md-6
        .post-entry
          .post-header
            %h1.post-title.font-alt
              Among its capabilities, iLoop has been used for the following applications:
          .post-entry
            %ul
              %li
                4D Feasibility Study
              %li
                4D Interpretation using Reservoir Engineering Data
              %li
                Potential Identification by Fusing Production & Seismic Data
              %li
                Production Optimization
              %li
                History Matching: Engineering Data Only or Integrated with Seismic Data
              %li
                Co-Visualization for Model Diagnosis and Optimization
              %li
                Multicomponent Study Using Reservoir Model
              %li
                Prestack Study Using Reservoir Model
    .row
      .col-sm-12.col-md-6
        %article.post.post-single
          .post-media
            %img{:alt => "", :src => "assets/images/software_3-2.jpg"}/
      .col-sm-12.col-md-6
        .post-entry
          .post-header
            %h1.post-title.font-alt
              Interactive history matching (model-based)
          %ul
            %li
              Features
              %ul
                %li
                  Time-dependent seismic feasibility study & interpretation
                %li
                  Seismic history matching
    .row
      .col-sm-12.col-md-6
        %article.post.post-single
          .post-media
            %img{:alt => "", :src => "assets/images/software_3-3.png"}/
      .col-sm-12.col-md-6
        .post-entry
          .post-header
            %h1.post-title.font-alt
              Comparison on Synthetic Seismic from Simulation Model with Observed Seismic
          %ul
            %li
              Features
              %ul
                %li
                  Production data and seismic attribute analysis (data-based)
    .row
      .col-sm-12.col-md-6
        %article.post.post-single
          .post-media
            %img{:alt => "", :src => "assets/images/software_3-4.png"}/
      .col-sm-12.col-md-6
        .post-entry
          .post-header
            %h1.post-title.font-alt
              Data Fusion of Production and Seismic Attributes
          %ul
            %li
              Features
              %ul
                %li
                  Need listed features

