%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/training_1-main.jpg"}
  / HERO TEXT
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 Training
%section.module
  .container
    .row
      / CONTENT
      .col-sm-12
        %article.post.post-single
          / MEDIA
          .post-header
            %h1.post-title.font-alt
              Multiphase Flow Assurance

          .post-media
          .post-entry
            %p
              Our portfolio of courses provides customized, hands-on workshops that are designed to enhance your team with expert knowledge. These courses cover the main fields of petroleum engineering and multiphase flow technology, with special emphasis on risk assessment and uncertainty analysis using available commercial applications and MSI Group's proprietary developed software.
            %p
              All courses stress application over theory by discussing many field cases to illustrate the concepts. Participants are encouraged to bring their own field problems to be discussed during class sessions – Invest in knowledge!
            %ul
              %li
                Modeling of Gas-Liquid Two-Phase Flow in Pipes
              %li
                Transient Two-Phase Flow Modeling
              %li
                Multiphase Flow in Piping Networks
              %li
                Offshore Operation & Flow Assurance
              %li
                Production Optimization/Nodal Analysis
              %li
                Beam Pumping for Engineers
              %li
                Electrical Submersible Pumps (ESP) for Engineers
              %li
                Gas Lift Design and Optimization for Engineers
              %li
                Artificial Lift Systems Optimization using Nodal Analysis
              %li
                Progressing Cavity Pumps (PCP) for Engineers
              %li
                Gas Field Processing
              %li
                Computer Aided Design & Computer Aided Manufacturing
              %li
                Oil Production Engineering
              %li
                Oil/Gas Processing & Facilities
              %li
                Oilfield Instrumentation, Control & Automation
              %li
                Offshore Operation & Flow Assurance


