%section.module.module-parallax.bg-dark-30{"data-background" => "assets/images/training_1-main.jpg"}
  .container
    .row
      .col-sm-12.text-center
        %h1.mh-line-size-3.font-alt.m-b-20 Training
%section.module
  .container
    .row
      .col-sm-12
        %article.post.post-single
          .post-header
            %h1.post-title.font-alt
              Water Treatment
          .post-media
          .post-entry
            %p
              Our portfolio of courses provides customized, hands-on workshops that are designed to enhance your team with expert knowledge. These courses cover the main fields of petroleum engineering and multiphase flow technology, with special emphasis on risk assessment and uncertainty analysis using available commercial applications and MSI Group's proprietary developed software.
            %p
              All courses stress application over theory by discussing many field cases to illustrate the concepts. Participants are encouraged to bring their own field problems to be discussed during class sessions – Invest in knowledge!
            %ul
              %li
                Oilfield Processing and Produced Water Treatment
              %li
                Water Treatment for Oil Industry

